<nav class="navbar navbar-default">
  <p class="navbar-text"><a href="/">Home</a></p>
  <p class="navbar-text navbar-right" [hidden]="!authenticated">
    Signed in: {{user}}
  </p>
</nav>
<h1>User Interface Integration Test Page from the UI server</h1>
<div [hidden]="!authenticated">
  <p>This is a randomly generated UUID from the resource server: {{message.id}}</p>
  <p>This information is created by an Admin User:  {{message.content}}</p>
</div>
<div [hidden]="authenticated">
	<p>Login required to see information.</p>
</div>
